/* ESTILOS GENERALES */

*{
 margin: 0px;
 padding: 0px; 
 box-sizing: border-box;
}
body{
  font-family: "Bungee", sans-serif;
  font-weight: 200;
}
ul{
  list-style: none;
}

/* ESTILOS PÁGINA INICIO */

.background{
  width: 100%;
  min-height: 100vh;
  background: url("../public/background.jpg") no-repeat center;
  background-size: cover;
}
.enlaces_inicio{
  width: 100%;
  height: 100vh;
  font-size: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.enlace_inicio{
  background-color: #393F0F;
  border: 4px solid white;
  box-shadow: 4px 5px 5px #4D4D4D;
  border-radius: 10px;
  padding: 15px;
  z-index: 3;
}
.enlace_inicio a{
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
}
.logo_inicio{
  width: 100%;
  height: 270px;
  position: fixed;
  top: 5vh;
  background: url("../public/logo_canicross_1.svg") no-repeat center;
  background-size: auto;
  animation: FromLeft 1s ease;
}
@keyframes FromLeft{
  0%{
    transform: translateX(-200%)
  }
  100%{
    transform: translateX(0%)
  }
}
/* ESTILOS HEADER */

.enlaces_header{
  width: 100%;
  height: 104px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 5px solid white;
  background-color: rgba(255,255,255,0.6);
}
.enlace_header{
  background-color: #393F0F;
  border: 2px solid white;
  box-shadow: 4px 5px 5px #4D4D4D;
  border-radius: 10px;
  padding: 15px;
  z-index: 3;
}
.enlaces_header a{
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
}
.enlace_header:hover{
  animation: heartbeat 1s infinite;
}
.logo_inicio_pages{
  width: 100%;
  height: 88px;
  position: absolute;
  top: 16px;
  background: url("../public/logo_canicross_1.svg") no-repeat center;
  background-size: auto;
  animation: FromLeft 1s ease;
  cursor: pointer;
}

/* ESTILOS FOOTER */

.footer{
  font-family: sans-serif;
  color: white;
  width: 100%;
  height: 3vh;
  background-color: #393F0F;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}
.footer div{
  display: flex;
}
.footer a, .footer h3{
  color: white;
  padding: 2px;
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: none;
}
.footer a{
  color: #DEE6CF;
}
.fa-copyright{
  font-size: 1rem;
  margin-right: 5px;
}
.footer a:hover{
  scale: 1.2;
}

/* ESTILOS FORMULARIO/INSCRIPCIONES */

.background_datos{
  background: url("../public/background.jpg") no-repeat center;
  background-size: cover;
}
.datos{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.datos_persona{
  margin: 20px auto 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.datos_persona div{
  padding: 5px;
}
.datos_perro{
  margin:  auto 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.datos_perro div{
  padding: 5px;
  width: 380px;
}
.datos_perro select{
  width: 80%;
}
.carrera{
  margin: 20px auto 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #4D4D4D;
  border-radius:10px;
  padding: 20px;
  background-color: rgba(255,255,255,0.3);
}
.carrera input{
  display: flex;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.carrera :nth-child(3){
  margin-left: 15px;
  padding-left: 15px;
  border-left: 3px solid #4D4D4D;
}
input,button,select{
  display: block;
  font-family: sans-serif;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
}
button{
  border-radius: 5px;
}
form span, form label{
  font-size: 1rem;
  color: #4D4D4D;
  padding: 5px;
}
form label{
  font-size: 1.2rem;
}
input[type="text"]{
  width: 80%;
  font-family: sans-serif;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 15px;
}
input[type="submit"]{
  background-color: #4D4D4D;
  color: white;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 4px 5px 5px #4D4D4D;
  padding: 15px;
  margin: 20px auto 20px;
  width: 310px;
  font-family: "Bungee", sans-serif;
  font-size: 1.2rem;
}
input[type="submit"]:hover{
  background-color: white;
  color: #4D4D4D;
  font-weight: 800;
}
.logo{
  width: 300px;
  height: 200px;
  background: url("../public/icon.svg") no-repeat center;
  background-size: cover;
  cursor: pointer;
}
.logo:hover, .enlace_inicio:hover, .logo_inicio_pages:hover{
  animation: heartbeat 1s infinite;
}
@keyframes heartbeat{
  0% {
    transform: scale(.75);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.75);
  }
}
.modal_registro_datos, .modal_error_registro_datos{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(222,230,207,0.3);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.registro_datos{
  width: 450px;
  height: 220px;
  padding: 20px;
  background-color: #393F0F;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  color: white
}
.registro_datos h2{
  font-size: 2rem;
  margin-bottom: 15px;
}
.registro_datos p:nth-child(3){
  font-family: sans-serif;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 15px 0px;
  border-bottom: 1px solid #DEE6CF;
  border-top: 1px solid #DEE6CF;
}
.registro_datos p:nth-child(4){
  font-family: sans-serif;
  margin-top: 15px;
  font-weight: 600;
  font-style: italic;
  color: #DEE6CF;
}
.boton_cerrar, .boton_cerrar_error{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  background-color: #393F0F;
  color: white;
  transition: color 300ms;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 1.8rem;
}
.fa-xmark{
  position: relative;
  top: 5px;
  left: 8px;
}
.boton_cerrar:hover, .boton_cerrar_error:hover{
  color: #393F0F;
  background-color: white;
}
.visible{
  display: flex;
}
.lista_participantes{
  display: flex;
  margin: 10px 200px 10px;
}
.lista_participantes h2{
  text-align: center;
  margin: 20px auto 20px;
  color: #393F0F;
}
.arrow_1{
  height: 4rem;
  width: 4rem;
  background: url("../public/arrow.svg") no-repeat center;
  background-size: contain;
}
.arrow_2{
  height: 4rem;
  width: 4rem;
  background: url("../public/arrow.svg") no-repeat center;
  background-size: contain;
}
.participantes{
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 100px;
  background-color: #DEE6CF;
}
.participante{
  background-color: #F1F7DE;
  padding: 50px;
  font-size: 0.7rem;
  font-family: sans-serif;
}
.participante:nth-child(odd){
  background-color: #DEE6CF;
}
.nombre_participante{
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px dashed #4D4D4D;
}
.nombre_perro{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.participante h2,.participante input{
  font-size: 1.1rem;
  font-weight: 400;
  color: #4D4D4D;
  width: 100%;
  border: none;
  display: none;
}
.participante h3{
  display: none;
  text-align: end;
  width: 100%;
  font-size: 0.8rem;
}
.participante .visible{
  display: block;
}
.participante input{
  border-bottom: 1px dashed #4D4D4D;
  border: 0.5px solid #4D4D4D
}
.botones{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.boton_editar{ 
  width: 30px;
  height: 33px;
  border: 0.5px solid #4D4D4D;
  padding: 5px;
  border-radius: 5px;
  color: #4D4D4D;
  background-color: white;
}
.boton_editar span, .boton_borrar span{
  font-family: sans-serif;
  color: #4D4D4D;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  left: -1.5rem;
  top: 1.8rem;
  opacity: 0;
}
.fa-pen-to-square{
  font-size: 1rem;
  position: relative;
  left: 3px;
  top: 0px;
}
.fa-floppy-disk{
  font-size: 1rem;
  position: relative;
  left: 2px;
  top: 0px;
}
.boton_editar:hover span, .boton_borrar:hover span{
  opacity: 1;
}
.boton_editar:hover{
  background-color: #4D4D4D;
  color: white;
  border:1px solid #4D4D4D;
}
.boton_borrar{
  width: 30px;
  height: 33px;
  margin-left: 15px;
  border: 0.5px solid white;
  color: white;
  background-color: #4D4D4D;
}
.fa-trash-can{
  font-size: 1rem;
  position: relative;
  left: 2px;
  top: 0px;
}
.boton_borrar:hover{
  background-color: white;
  color: #4D4D4D;
  border: 1px solid #4D4D4D;
}

/* ESTILO RUTAS */

.rutas{
  color: #393F0F;
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.rutas h3{
  text-align: center;
  border-top: 5px solid #393F0F;
  margin-top: 20px;
  font-size: 4rem;
}
.ruta{
  width:100%;
  display: flex;
  justify-content: center;
  margin: 15px auto 50px;
  flex-wrap: wrap;
}
.mapa_ruta_corta{
  width: 600px;
  height: 388px;
  background: url("../public/route_7km.gif") no-repeat center;
  background-size: cover;
  border: 5px solid #393F0F;
}
.perfil_ruta_corta{
  width: 600px;
  height: 388px;
  background:url("../public/route_profile_7km.jpg") no-repeat center;
  background-size: cover;
  border: 5px solid #393F0F;
  margin-left: 25px;
}
.mapa_ruta_larga{
  width: 600px;
  height: 388px;
  background:url("../public/route_15km.gif") no-repeat center;
  background-size: cover;
  border: 5px solid #393F0F;
}
.perfil_ruta_larga{
  width: 600px;
  height: 388px;
  background:url("../public/route_profile_15km.jpg") no-repeat center;
  background-size: cover;
  border: 5px solid #393F0F;
  margin-left: 25px;
}

/* ESTILOS PÁGINA ERROR 404 */

.error{
  width: 500px;
  height: 400px;
  margin: 50px auto 50px;
  background-color: #393F0F;
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.error h2, .error h3{
  color: white;
  padding: 10px;
}
.sad_dog{
  width: 400px;
  height: 200px;
  background:url("../public/sad_dog.svg") no-repeat center;
  background-size: contain;
}

/* MEDIAQUERIES - ESTILOS RESPONSIVE */

/* ESTILOS PANTALLAS HASTA 1.301px */
 
 @media screen and (max-width:1301px){
  .logo_inicio_pages{
    height: 80px;
    top: 16px;
  }
  .enlaces_header{
    font-size: 0.9rem;
  }
  .carrera{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .carrera input{
    width: 20px;
    height: 20px;
    margin-left: 0px;
    margin-top: 5px;
  }
  .carrera :nth-child(3){
    margin-top:10px;
    margin-left: 0px;
    padding-left: 0px;
    border-left: 0px;
    border-top: 3px solid #4D4D4D;
  }
  .ruta{
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .rutas h3{
    font-size: 2rem;
  }
  .mapa_ruta_corta, .mapa_ruta_larga, .perfil_ruta_corta, .perfil_ruta_larga{
    width: 450px;
    height: 291px;
  }
  .perfil_ruta_corta, .perfil_ruta_larga{
    margin-top: 15px;
    margin-left: 0px;
  }
}

/* ESTILOS PANTALLAS HASTA 801px */

 @media screen and (max-width:801px){
  .logo_inicio{
    height: 170px;
    top: 6vh;
  }
  .logo_inicio_pages{
    height: 80px;
    top: 16px;
  }
  .enlaces_inicio{
    font-size: 1.7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  .enlace_inicio:last-child{
    margin-top:20px;
  }
  .enlace_inicio a{
    bottom: 90px;
    left: 105px;
  }
  .enlaces_header{
    height: 180px;
    font-size: 0.8rem;
  }
  .enlace_header{
    margin-top: 100px;
    padding: 10px;
  }
  .lista_participantes{
    align-items: center;
    margin: 10px 50px 10px;
  }
  .participante{
    padding: 45px;
  }
  .participante h2{
    font-size: 0.9rem;
  }
  .participante h3{
    font-size: 0.7rem;
  }
  .participante input{
    font-size: 0.8rem;
    border-radius: 8px;
    border: 0.5px solid #4D4D4D
  }
  input[type="text"]{
    padding: 8px;
  }
  .boton_editar span, .boton_borrar span {
    font-size: 0.8rem;
  }
  .rutas h3{
    font-size: 2rem;
  }
  .mapa_ruta_corta, .mapa_ruta_larga, .perfil_ruta_corta, .perfil_ruta_larga{
    width: 450px;
    height: 291px;
  }
  .perfil_ruta_larga{
    margin-top: 15px;
    margin-left: 0px;
  }
  .footer{
    height: 10vh;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer div{
    align-items: center;
  }
  .footer a, .footer h3 .fa-copyright{
    font-size: 1rem;
  }
  .footer div:nth-child(1){
    order: 1;
  }
  .footer div:nth-child(3){
    order: 2;
  }
  .error{
    width: 400px;
    height: 300px;
    margin: 50px auto 50px;
    top: 5vh;
  }
}

/* ESTILOS PANTALLAS HASTA 501px */

 @media screen and (max-width:501px){
  .logo_inicio{
    height: 90px;
    top: 100px;
  }
  .logo_inicio_pages{
    height: 80px;
    top: 2vh;
  }
  .enlaces_inicio{
    font-size: 1.2rem;
    height: 100vh;
  }
  .enlace_inicio{
    padding: 10px;
    border: 0.5px solid white;
  }
  .enlace_inicio a{
    bottom: 37px;
    left: 120px;
  }
  .enlace_header{
    font-size: 0.8rem;
    border: 0.5px solid white;
    box-shadow: 2px 3px 3px #4D4D4D;
    padding: 8px;
  }
  .datos_persona,.datos_perro,.carrera{
    margin: 0px auto 0px;
  }
  .datos_persona div{
    width: 300px;
  }
  .datos_perro div{
    width: 300px;
  }
  .carrera{
    padding: 14px;
  }
  input[type="submit"]{
    width: 200px;
  }
  .logo{
    width: 214px;
    height: 142px;
  }
  .arrow_1{
    height: 3rem;
    width: 3rem;
    background:url("../public/arrow.svg") no-repeat center;
    background-size: contain;
  }
  .arrow_2{
    height: 3rem;
    width: 3rem;
    background:url("../public/arrow.svg") no-repeat center;
    background-size: contain;
  }
  .lista_participantes{
    align-items: center;
    margin: 10px 20px 10px;
  }
  .lista_participantes h2{
    font-size: 1rem;
  }
  .registro_datos{
    width: 250px;
    height: 150px;
  }
  .registro_datos h2{
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .registro_datos p:nth-child(3){
    font-size: 0.8rem;
    padding: 10px 0px;
  }
  .registro_datos p:nth-child(4){
    font-size: 0.8rem;
    margin-top: 10px;
  }
  .boton_cerrar, .boton_cerrar_error{
    width: 25px;
    height: 25px;
    font-size: 1.1rem;
  }
  .fa-xmark{
    position: relative;
    top: 3px;
    left: 5px;
  }
  .boton_cerrar:hover, .boton_cerrar_error:hover{
    color: #393F0F;
    background-color: white;
  }
  .participante{
    padding: 20px;
  }
  .nombre_participante{
    padding-bottom: 2px;
  }
  .nombre_perro{
    margin-top: 4px;
  }
  .participante h2{
    font-size: 0.8rem;
  }
  .participante h3{
    font-size: 0.6rem;
  }
  .participante input{
    font-size: 0.6rem;
    border-radius: 4px;
    border: 0.5px solid #4D4D4D
  }
  input[type="text"]{
    padding: 6px;
  }
  .boton_editar{ 
    width: 23px;
    height: 26px;
  }
  .boton_editar:hover span, .boton_borrar:hover span{
    opacity: 0;
  }
  .fa-pen-to-square{
    font-size: 0.9rem;
    position: relative;
    left: 0px;
    top: 0px;
  }
  .fa-floppy-disk{
    font-size: 0.9rem;
    position: relative;
    left: 0px;
    top: 0px;
  }
  .boton_borrar{
    width: 23px;
    height: 26px;
  }
  .fa-trash-can{
    font-size: 0.9rem;
    position: relative;
    left: 0px;
    top: 0px;
  }
  .footer{
    height: 7vh;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer a, .footer h3, .fa-copyright{
    font-size: 0.6rem;
  }
  .footer div:nth-child(1){
    order: 1;
  }
  .footer div:nth-child(3){
    order: 2;
  }
  .rutas h3{
    font-size: 2rem;
  }
  .mapa_ruta_corta, .mapa_ruta_larga, .perfil_ruta_corta, .perfil_ruta_larga{
    width: 350px;
    height: 226px;
  }
  .perfil_ruta_larga{
    margin-top: 15px;
  }
  .error{
    width: 300px;
    height: 200px;
    margin:50px auto 50px;
    top: 5vh;
  }
  .error h2, .error h3{
    font-size: 0.8rem;
  }
  .sad_dog{
    width: 300px;
    height: 150px;
  }
}