*{
 margin:0px;
 padding:0px; 
}
body{
  font-family: "Bungee", sans-serif;
}
.inicio{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.enlaces_inicio{
  width: 500px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
:any-link h2{
  text-align: center;
  text-decoration: none;
  color: rgb(161, 17, 17);
  font-size: 1rem;
  cursor: pointer;
}
:any-link{
  text-decoration: none;
  color: #4D4D4D;
  cursor: pointer;
}
nav{
  margin-top: 25px;
}
h1{
  font-size: 2em;
  color: #4D4D4D;
}
ul{
  list-style: none;
}
.datos{
  background-image:linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),url("../public/background.png");
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.datos_persona{
  margin:20px auto 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.datos_persona div{
  padding: 5px;
}
.datos_perro{
  margin:20px auto 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.datos_perro div{
  padding: 5px;
  width: 380px;
}
.datos_perro select{
  width: 89%;
}
.carrera{
  margin:20px auto 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #4D4D4D;
  border-radius:10px;
  padding: 20px;
  background-color: rgba(255,255,255,0.3);
}
.carrera input{
  display:flex;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.carrera :nth-child(3){
  margin-left: 15px;
  padding-left: 15px;
  border-left: 3px solid #4D4D4D;
}
input,button,select{
  display:block;
  font-family:sans-serif;
  cursor:pointer;
  border-radius:10px;
  padding:5px;
}
button{
  border-radius:5px;
}
form span, form label{
  font-size: 1rem;
  color:#4D4D4D;
  padding: 5px;
}
form label{
  font-size: 1.2rem;
}
input[type="text"]{
  width: 80%;
  font-family: sans-serif;
  margin-bottom:5px;
  border-radius:10px;
  padding:15px;
}
input[type="submit"]{
  background-color: #393F0F;
  color: white;
  border-radius:10px;
  padding:15px;
  margin: 20px auto 20px;
  width: 400px;
  font-family: "Bungee", sans-serif;
  font-size: 1.2rem;
}
input[type="submit"]:hover{
  background-color: white;
  color:#4D4D4D;
  font-weight: 800;
}
.logo{
  width: 300px;
  height: 200px;
  background:url("../public/icon.svg") no-repeat center;
  background-size: cover;
}
.lista_participantes h2{
  text-align: center;
  margin: 20px auto 20px;
  color:#4D4D4D;
}
.participantes{
  display:flex;
  flex-direction:column-reverse;
}
.participante{
  background-color: #F1F7DE;
  width: calc(100 - 50px);
  padding:50px;
  font-size: 0.7rem;
  font-family: sans-serif;
}
.participante:nth-child(odd){
  background-color: #DEE6CF;
}
.nombre_participante{
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #4D4D4D;
}
.nombre_perro{
  display: flex;
  align-items: center;
}
.participante h2,.participante input{
  font-size:1.5em;
  font-weight:400;
  color:#4D4D4D;
  width:100%;
  border:none;
  display:none;
}
.participante .visible{
  display:block;
}
.participante input{
 border-bottom: 1px dashed #4D4D4D;
}
.boton{
  border:0.5px solid #4D4D4D;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  color: #4D4D4D;
  background-color: white;
}
.boton:hover{
  background-color: #4D4D4D;
  color:white;
}
.boton_borrar{
  width:22px;
  height:25px;
  border:0.5px solid white;
  color: white;
  background-color: #4D4D4D;
}
.boton_borrar span{
  font-family: "Bungee", sans-serif;
  color: #4D4D4D;
  position:relative;
  left:1.2rem;
  top:0;
  opacity:0;
}
.fa-trash-can{
  color:white;
  position:relative;
  left:0;
  top:-18px;
}
.boton_borrar:hover span{
  opacity:1;
}
