/* ESTILOS GENERALES */

*{
 margin:0px;
 padding:0px; 
}
body{
  font-family: "Bungee", sans-serif;
  font-weight:200;
}
a{
  text-decoration:none;
}
ul{
  list-style: none;
}

/* ESTILOS PÁGINA INICIO */

.background{
  width: 100%;
  min-height:100vh;
  background: url("../public/background_triangles.jpg") no-repeat center;
  background-size: cover;
}
.enlaces_inicio{
  width: 100%;
  height: 100vh;
  font-size: 3rem;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.enlace_inicio{
  background-color: #393F0F;
  padding: 15px;
  z-index:3;
}
.enlace_inicio a{
  color:white;
  cursor: pointer;
}
.logo_inicio{
  width:75%;
  height:400px;
  position: fixed;
  top:5vh;
  left:10%;
  background:url("../public/logo_canicross_2.svg") no-repeat center;
  background-size: auto;
  animation: FromLeft 1s ease;
}
@keyframes FromLeft{
  0%{
    transform: translateX(-200%)
  }
  100%{
    transform: translateX(0%)
  }
}
/* ESTILOS HEADER */

.enlaces_header{
  width: 100%;
  display:flex;
  justify-content: space-around;
  border-bottom: 10px solid white;
  margin-bottom: 50px;
}
.enlace_header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px auto 10px;
  width: 150px;
  background-color: #393F0F;
  padding: 20px;
  z-index:3;
}
.enlaces_header a{
  color:white;
  font-size: 1.2rem;
}
.logo_inicio_pages{
  width:100%;
  height:100px;
  position: absolute;
  top:10px;
  left:2%;
  background:url("../public/logo_canicross_1.svg") no-repeat center;
  background-size: auto;
  animation: FromLeft 1s ease;
  cursor:pointer;
}

/* ESTILOS FOOTER */

.footer{
  font-family: sans-serif;
  color:white;
  width: 100%;
  height: 5vh;
  background-color: #393F0F;
  position:fixed;
  bottom: 0px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.footer div{
  display:flex;
}
.footer h3, .footer .fa-regular{
  padding: 2px;
  font-size: 0.8rem;
  display:flex;
  justify-content: center;
}

/* ESTILOS FORMULARIO/INSCRIPCIONES */

.background_datos{
  background: url("../public/background_triangles.jpg") no-repeat center;
  background-size: cover;
}
.datos{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.datos_persona{
  margin:20px auto 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.datos_persona div{
  padding: 5px;
}
.datos_perro{
  margin:20px auto 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.datos_perro div{
  padding: 5px;
  width: 380px;
}
.datos_perro select{
  width: 89%;
}
.carrera{
  margin:20px auto 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #4D4D4D;
  border-radius:10px;
  padding: 20px;
  background-color: rgba(255,255,255,0.3);
}
.carrera input{
  display:flex;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.carrera :nth-child(3){
  margin-left: 15px;
  padding-left: 15px;
  border-left: 3px solid #4D4D4D;
}
input,button,select{
  display:block;
  font-family:sans-serif;
  cursor:pointer;
  border-radius:10px;
  padding:5px;
}
button{
  border-radius:5px;
}
form span, form label{
  font-size: 1rem;
  color:#4D4D4D;
  padding: 5px;
}
form label{
  font-size: 1.2rem;
}
input[type="text"]{
  width: 80%;
  font-family: sans-serif;
  margin-bottom:5px;
  border-radius:10px;
  padding:15px;
}
input[type="submit"]{
  background-color: #393F0F;
  color: white;
  border-radius:10px;
  padding:15px;
  margin: 20px auto 20px;
  width: 400px;
  font-family: "Bungee", sans-serif;
  font-size: 1.2rem;
}
input[type="submit"]:hover{
  background-color: white;
  color:#4D4D4D;
  font-weight: 800;
}
.logo{
  width: 300px;
  height: 200px;
  background:url("../public/icon.svg") no-repeat center;
  background-size: cover;
  cursor: pointer;
}
.logo:hover, .enlace_inicio:hover, .logo_inicio_pages:hover{
  animation: heartbeat 1s infinite;
}
@keyframes heartbeat{
  0% {
    transform: scale(.75);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.75);
  }
}  
.lista_participantes{
  display: flex;
  margin:10px 200px 10px;
}
.lista_participantes h2{
  text-align: center;
  margin: 20px auto 20px;
  color:#393F0F;
}
.arrow_1{
  height:4rem;
  width:4rem;
  background:url("../public/arrow.svg") no-repeat center;
  background-size: contain;
}
.arrow_2{
  height:4rem;
  width:4rem;
  background:url("../public/arrow.svg") no-repeat center;
  background-size: contain;
}
.participantes{
  display:flex;
  flex-direction:column-reverse;
}
.participante{
  background-color: #F1F7DE;
  width: calc(100 - 50px);
  padding:50px;
  font-size: 0.7rem;
  font-family: sans-serif;
}
.participante:nth-child(odd){
  background-color: #DEE6CF;
}
.nombre_participante{
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #4D4D4D;
}
.nombre_perro{
  display: flex;
  align-items: center;
}
.participante h2,.participante input{
  font-size:1.5em;
  font-weight:400;
  color:#4D4D4D;
  width:100%;
  border:none;
  display:none;
}
.participante h3{
  display:block;
  text-align: end;
  width:100%;
  font-size: 0.8rem;
}
.participante .visible{
  display:block;
}
.participante input{
  border-bottom: 1px dashed #4D4D4D;
}
.boton{ 
  width:22px;
  height:25px;
  border:0.5px solid #4D4D4D;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  color: #4D4D4D;
  background-color: white;
}
.boton span{
  font-family: sans-serif;
  color: #4D4D4D;
  position:relative;
  text-transform:uppercase;
  font-weight:600;
  left:-1.2rem;
  top:-1.2rem;
  opacity:0;
}
.nombre_perro .boton span{
  left:-1.2rem;
  top:1.5rem;
}
.boton:hover span{
  opacity:1;
}
.boton:hover{
  background-color: #4D4D4D;
  color:white;
  border:1px solid #4D4D4D;
}
.boton_borrar{
  width:22px;
  height:25px;
  border:0.5px solid white;
  color: white;
  background-color: #4D4D4D;
}
.boton_borrar span{
  color: #4D4D4D;
  position:relative;
  text-transform: uppercase;
  font-weight:600;
  left:-0.2rem;
  top:1.4rem;
  opacity:0;
}
.fa-trash-can{
  position:relative;
  left:0;
  top:-14px;
}
.boton_borrar:hover span{
  opacity:1;
}
.boton_borrar:hover{
  background-color: white;
  color:#4D4D4D;
  border:1px solid #4D4D4D;
}

/* ESTILO PÁGINAS INTERNAS */

.rutas{
  color:#393F0F;
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rutas h3{
  text-align: center;
  border-top: 5px solid #393F0F;
  margin-top: 20px;
  font-size: 4rem;
}
.ruta{
  width:100%;
  display: flex;
  justify-content: center;
  margin:15px auto 50px;
  flex-wrap: wrap;
}
.mapa_ruta_corta{
  width: 600px;
  height: 388px;
  background:url("../public/route_7km.jpg") no-repeat center;
  background-size: cover;
  border: 5px solid #393F0F;
}
.perfil_ruta_corta{
  width: 600px;
  height: 388px;
  background:url("../public/route_profile_7km.jpg") no-repeat center;
  background-size: cover;
  border: 5px solid #393F0F;
  margin-left: 25px;
}
.mapa_ruta_larga{
  width: 600px;
  height: 388px;
  background:url("../public/route_15km.jpg") no-repeat center;
  background-size: cover;
  border: 5px solid #393F0F;
}
.perfil_ruta_larga{
  width: 600px;
  height: 388px;
  background:url("../public/route_profile_15km.jpg") no-repeat center;
  background-size: cover;
  border: 5px solid #393F0F;
  margin-left: 25px;
}

/* MEDIAQUERIES - ESTILOS RESPONSIVE

/* ESTILOS PANTALLAS HASTA 1.301px */
 
 @media screen and (max-width:1301px){
  .enlace_header{
    width: 180px;
    padding: 10px;
  }
  .enlaces_header a{
    font-size: 01.2rem;
  }
  .logo_inicio_pages{
    height:70px;
    top:7px;
    left:0px;
  }
  .carrera{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .carrera input{
    width: 20px;
    height: 20px;
    margin-left: 0px;
    margin-top: 5px;
  }
  .carrera :nth-child(3){
    margin-top:10px;
    margin-left: 0px;
    padding-left: 0px;
    border-left: 0px;
    border-top: 3px solid #4D4D4D;
  }
  .ruta{
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .rutas h3{
    font-size: 2rem;
  }
  .mapa_ruta_corta, .mapa_ruta_larga, .perfil_ruta_corta, .perfil_ruta_larga{
    width: 450px;
    height: 291px;
  }
  .perfil_ruta_corta, .perfil_ruta_larga{
    margin-top: 15px;
    margin-left: 0px;
  }
}

/* ESTILOS PANTALLAS HASTA 801px */

 @media screen and (max-width:801px){
  .enlaces_inicio{
    font-size: 2rem;
  }
  .enlace_header{
    width: 100px;
    padding: 10px;
  }
  .enlaces_header a{
    font-size: 0.8rem;
  }
  .logo_inicio_pages{
    height:50px;
    top:10px;
    left:0px;
  }
  .lista_participantes{
    align-items: center;
    margin:10px 50px 10px;
  }
  .rutas h3{
    font-size: 2rem;
  }
  .mapa_ruta_corta, .mapa_ruta_larga, .perfil_ruta_corta, .perfil_ruta_larga{
    width: 450px;
    height: 291px;
  }
  .perfil_ruta_larga{
    margin-top: 15px;
    margin-left: 0px;
  }
}

/* ESTILOS PANTALLAS HASTA 501px */

 @media screen and (max-width:501px){
  .enlaces_inicio{
    width: 100%;
    height: 100vh;
    font-size: 2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .enlace_inicio{
    margin-top: 50px;
  }
  .enlace_header{
    width: 70px;
    padding: 10px;
  }
  .enlaces_header a{
    font-size: 0.7rem;
  }
  .logo_inicio_pages{
    height:35px;
    top:18px;
    left:0px;
  }
  .lista_participantes{
    align-items: center;
    margin:10px 20px 10px;
  }
  .lista_participantes h2{
    font-size: 1rem;
  }
  .arrow_1{
    height:3rem;
    width:3rem;
    background:url("../public/arrow.svg") no-repeat center;
    background-size: contain;
  }
  .arrow_2{
    height:3rem;
    width:3rem;
    background:url("../public/arrow.svg") no-repeat center;
    background-size: contain;
  }
  .footer{
    height: 7vh;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer h3, .footer .fa-regular{
    font-size: 0.6rem;
  }
  .footer div:nth-child(1){
    order:1;
  }
  .footer div:nth-child(3){
    order:2;
  }
  .rutas h3{
    font-size: 2rem;
  }
  .mapa_ruta_corta, .mapa_ruta_larga, .perfil_ruta_corta, .perfil_ruta_larga{
    width: 350px;
    height: 226px;
  }
  .perfil_ruta_larga{
    margin-top: 15px;
  }
}